/* You can add global styles to this file, and also import other style files */
table {
    padding: 10px;
    border: 1px solid gray;
    text-align: center;
}
th, td {
    border: 1px solid gray;
    padding: 10px;
}