/* You can add global styles to this file, and also import other style files */
body {
    background-color: whitesmoke;
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    width: auto;
    padding: 20px;
    border: 1px solid gray;
    box-shadow: 0 0 10px lightgray;
}

table {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

th,
td {
    border: 1px solid gray;
    padding: 10px;
}